<div class="col mb-4" align="center">
    <div class="card" style="width: 19rem;">
        <div class="card-body">
            <h5 class="card-title">{{vehiculo.marca}} {{vehiculo.modelo}}</h5>
            <p class="card-text">id: {{vehiculo.id}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Color p: {{vehiculo.colorP}}</li>
            <li class="list-group-item">Color S: {{vehiculo.colorS}}</li>
            <li class="list-group-item">Año fabricación: {{vehiculo.anioFabri}}</li>
        </ul>
    </div>
</div>