<div class="col mb-4" align="center">
    <div class="card" style="width: 19rem;">
        <div class="card-body">
            <h5 class="card-title">{{vehiculos.marca}} - {{vehiculos.modelo}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Color Principal: {{vehiculos.colorP}}</li>
            <li class="list-group-item">Color Secundario: {{vehiculos.colorS}}</li>
            <li class="list-group-item">Año de fabricación: {{vehiculos.anioFabri}}</li>
            <li class="list-group-item">{{vehiculos.id}}</li>
        </ul>
    </div>
</div>