<div class="col mb-4" align="center">
    <div class="card" style="width: 19rem;">
        <img class="card-img-top" src="{{personas.id}}.jpg" alt="Card image cap" width="400" height="250">
        <div class="card-body">
            <h5 class="card-title">{{personas.nombre}} {{personas.apellido}}</h5>
            <p class="card-text">Cedula: {{personas.id}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Edad: {{personas.edad}}</li>
        </ul>
    </div> 
</div>
<!--creado-->