<div class="row">
    <div class="col-sm-6">
        <div *ngFor="let persona of personas">
            {{persona | json}}
        </div>
        <table border="0">
            <tr>
                <td width="50%"> id: </td>
                <td width="50%">
                    <input type="text" class="form-control" id="txtid" #id="ngModel" size="35" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="model.id" name="telef" maxlength="13" required>
                    <div *ngIf="id.touched && !id.valid">
                        <div *ngIf="id.errors.required">Debe ingresar el id</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="50%"> Cedula: </td>
                <td width="50%">
                    <input type="text" class="form-control" id="txtid" #id="ngModel" placeholder="Escriba su cedula" name="id" size="35" [(ngModel)]="model.cedula" maxlength="10" required>
                    <div *ngIf="id.touched && !id.valid">
                        <div *ngIf="id.errors.required">Debe ingresar la cedula</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="50%"> Nombre: </td>
                <td width="50%">
                    <input type="text" class="form-control" id="txtnomb" #nomb="ngModel" placeholder="Escriba el nombre " name="nomb" size="35" [(ngModel)]="model.nombre" required pattern="[A-Za-z ]+">
                    <div *ngIf="nomb.touched && !nomb.valid">
                        <div *ngIf="nomb.errors.required">Debe ingresar el nombre</div>
                    </div>
                    <div *ngIf="!nomb.valid">
                        <div *ngIf="nomb.errors.pattern">Solo debe ingresar letras</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="50%"> Apellido: </td>
                <td width="50%">
                    <input type="text" class="form-control" id="txtapll" #apll="ngModel" placeholder="Escriba el apellido " name="apll" size="35" [(ngModel)]="model.apellido" required pattern="[A-Za-z ]+">
                    <div *ngIf="apll.touched && !apll.valid">
                        <div *ngIf="apll.errors.required">Debe ingresar el apellido</div>
                    </div>
                    <div *ngIf="!apll.valid">
                        <div *ngIf="apll.errors.pattern">Solo debe ingresar letras</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="50%"> Edad: </td>
                <td width="50%">
                    <input type="text" class="form-control" id="txttelef" #telef="ngModel" size="35" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="model.edad" name="telef" maxlength="13" required>
                    <div *ngIf="telef.touched && !telef.valid">
                        <div *ngIf="telef.errors.required">Debe ingresar la edad</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <tr>
            <td width="50%"> id: </td>
            <td width="50%">
                <input type="text" class="form-control" id="txtid2" #id2="ngModel" size="35" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="model.id" name="telef" maxlength="13" required>
                <div *ngIf="id2.touched && !id2.valid">
                    <div *ngIf="id2.errors.required">Debe ingresar el id</div>
                </div>
            </td>
        </tr>
        <table>
            <tr>
                <td width="50%"> Marca: </td>
                <td width="50%">
                    <input type="text" class="form-control" id="txtmarca" #marca="ngModel" placeholder="Escriba la marca " name="marca" size="35" [(ngModel)]="model2.marca" required pattern="[A-Za-z ]+">
                    <div *ngIf="marca.touched && !marca.valid">
                        <div *ngIf="nomb.errors.required">Debe ingresar la marca del vehiculo</div>
                    </div>
                    <div *ngIf="!marca.valid">
                        <div *ngIf="marca.errors.pattern">Solo debe ingresar letras</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="50%"> Modelo: </td>
                <td width="50%">
                    <input type="text" class="form-control" id="txtmodelo" #modelo="ngModel" placeholder="Escriba el modelo " name="modelo" size="35" [(ngModel)]="model2.modelo" required pattern="[A-Za-z ]+">
                    <div *ngIf="modelo.touched && !modelo.valid">
                        <div *ngIf="modelo.errors.required">Debe ingresar el modelo del vehiculo</div>
                    </div>
                    <div *ngIf="!modelo.valid">
                        <div *ngIf="modelo.errors.pattern">Solo debe ingresar letras</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="50%"> Color principal: </td>
                <td width="50%">
                    <input type="text" class="form-control" id="txtclp" #clp="ngModel" placeholder="Escriba el color principal " name="clp" size="35" [(ngModel)]="model2.colorP" required pattern="[A-Za-z ]+">
                    <div *ngIf="clp.touched && !clp.valid">
                        <div *ngIf="clp.errors.required">Debe ingresar el color principal</div>
                    </div>
                    <div *ngIf="!clp.valid">
                        <div *ngIf="clp.errors.pattern">Solo debe ingresar letras</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="50%"> Color Secundario: </td>
                <td width="50%">
                    <input type="text" class="form-control" id="txtcls" #cls="ngModel" placeholder="Escriba el color secundario " name="cls" size="35" [(ngModel)]="model2.colorS" required pattern="[A-Za-z ]+">
                    <div *ngIf="!cls.valid">
                        <div *ngIf="cls.errors.pattern">Solo debe ingresar letras</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="50%"> Año de Fabricación: </td>
                <td width="50%">
                    <input type="text" class="form-control" id="txtafr" #afr="ngModel" placeholder="dd/MM/yyyy " name="afr" size="35" [(ngModel)]="model2.anioFabri">
                    <div *ngIf="afr.touched && !afr.valid">
                        <div *ngIf="afr.errors.required">Debe ingresar el Año de Fabricación</div>
                    </div>
                    <div *ngIf="!afr.valid">
                        <div *ngIf="afr.errors.pattern">Solo debe ingresar letras</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div align="center">
    <button (click)="registrar()" type="button" class="btn btn-lg btn-primary">Registrar los Datos</button>
</div>